<sly data-sly-use.model="com.aem.theory.of.everything.models.SampleModel">

	<h2>Hello ${model.name}</h2>

    <sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" 
	data-sly-call="${clientLib.js @ categories = 'theory-of-everything.sample'}"/>

	<h3>List</h3>
	<ol data-sly-list="${model.listofLinks}">
		<li> ${item.text} </li>
		<li> ${item.description} </li>
        <div data-sly-resource="${ 'item-{0}' @ format=itemList.count, resourceType='theory-of-everything/components/content/slingModelExporter'}"></div>
	</ol>

   	<div data-sly-list="${currentPage.listChildren}">
   		 <div> ${item.title} </div>
	</div>

	<p> OR Operator ${model.name || '#'} </p>

   	<p data-sly-test="${model.name}"> I am here! </p>

    <p data-sly-attribute.hidden="${model.name != ''}"> I am Hidden </p> 

    <div data-sly-list="${resource.children}"> 
		<p> ${item.firstName} </p>
    </div>

    <sly data-sly-use.session="${'javax.jcr.Session' @ adaptable = resource.resourceResolver}" />
    <h3> Current USER ID: ${session.userID} </h3>

    <p> Concatinate in Sightly : ${'{0}-{1}-{2}' @ format=[model.name, model.authorName, model.name]} </p>

    <p> Request Parameter Map in Sightly :: ${request.requestParameterMap['car'][0].toString} </p>

	<!-- <h3>${model.authorName}</h3> -->

</sly>