<template data-sly-template.body="${@ page}">
<body id="root" >
	<sly data-sly-include="header.html"/>
	<sly data-sly-include="content.html"/>
	<sly data-sly-include="footer.html"/>
</body>
</template>