<h2> Sling Model Exporter </h2>

<sly data-sly-use.model="com.aem.theory.of.everything.models.SlingModelExporter">
	
	<p> First Name : ${model.firstName} </p>
	<p> Last Name : ${model.lastName} </p>
	<p> Address : ${model.address} </p>
	<p> Phone No. : ${model.phone} </p>	
	
</sly>